<a href="https://colab.research.google.com/github/bofori-tech/DS-Unit-1-Sprint-2-Statistics/blob/master/module1/LS_DS_121_t_tests_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

## *Data Science Unit 1 Sprint 2 Assignment 1*

# Apply the t-test to real data

## Practice 1-Sample T-tests

One Sample t-tests determine whether or not a sample mean is statistically different from some known (or hypothesized) population mean. 

### 1) Load the Data
- Use the [automobile dataset](https://archive.ics.uci.edu/ml/datasets/Automobile)
- Fix the column headers
- Make sure NaNs are used to indicate missing values

Feel free to add code cells and text cells as needed throughout the assignment.

In [54]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data

--2020-07-23 05:15:58--  https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 25936 (25K) [application/x-httpd-php]
Saving to: ‘imports-85.data’

imports-85.data     100%[===================>]  25.33K  --.-KB/s    in 0.07s

2020-07-23 05:15:58 (378 KB/s) - ‘imports-85.data’ saved [25936/25936]

In [28]:
#imports
from scipy.stats import ttest_ind, ttest_ind_from_stats, ttest_rel

In [60]:
#make a dataframe
import pandas as pd
column_headers = ['symboling','normalized-losses',
                              'make','fuel-type','aspiration','num-of-doors',
                              'body-style','drive-wheels','engine-location',
                              'wheel-base','length','width','height',
                              'curb-weight','engine-type','num-of-cylinders',
                              'engine-size','fuel-system','bore',
                              'stroke','compression-ratio','horsepower',
                              'peak-rpm''city-mpg','highway-mpg',
                              'price']
df = pd.read_csv('imports-85.data', header = None,
                   names = column_headers,
                   na_values = ' ?',
                   )

In [61]:
df.head()

  symboling normalized-losses make  ... peak-rpmcity-mpg highway-mpg  price
3         ?       alfa-romero  gas  ...               21          27  13495
3         ?       alfa-romero  gas  ...               21          27  16500
1         ?       alfa-romero  gas  ...               19          26  16500
2       164              audi  gas  ...               24          30  13950
2       164              audi  gas  ...               18          22  17450

[5 rows x 25 columns]

### 2) Pretend that this dataset represents the cars at a used car lot in your local town. 

- Use df.sample() to pick a random sample of 10 cars. Note that because this sample is random we are going to set the `random_state` so that all of us in the class get the same random sample. Please set your random state to `30` when using `df.sample()`

Is your sample reflective of the population value in regards to highway-mpg? Find the mean for `highway-mpg` for the entire dataset and use a 1-sample t-test to compare your estaimated sample mean to the population mean. Can you say that they are different?

In [64]:
random_state = df.sample(30)

   symboling normalized-losses    make  ... peak-rpmcity-mpg highway-mpg  price
 0         ?             isuzu     gas  ...               24          29   6785
 0       102            subaru     gas  ...               28          33   7775
 3         ?       alfa-romero     gas  ...               21          27  16500
 1        87            toyota     gas  ...               35          39   5348
 0        91            toyota     gas  ...               30          37   7198
 1       125        mitsubishi     gas  ...               25          32   6989
 1       103            nissan     gas  ...               31          37   7349
 0       106             honda     gas  ...               27          33   7895
 1       128            nissan  diesel  ...               45          50   7099
 0       188               bmw     gas  ...               21          28  20970
 0       145            jaguar     gas  ...               15          19  32250
 3       256        volkswagen     gas  ...               24          29   9980
 3       150             mazda     gas  ...               17          23  10945
 0       106            nissan     gas  ...               27          34   9549
 0       102            subaru     gas  ...               24          25   9233
-1        90            toyota     gas  ...               20          24  15690
 0       161            peugot  diesel  ...               28          33  13200
 0         ?            peugot  diesel  ...               25          25  17075
 0        91            toyota     gas  ...               30          37   6938
 1       103            nissan     gas  ...               31          37   7999
-1         ?     mercedes-benz     gas  ...               16          18  34184
 0        78             honda     gas  ...               30          34   7295
 3       150             mazda     gas  ...               16          23  15645
 3       197            toyota     gas  ...               19          24  15998
-1        95             volvo     gas  ...               18          23  21485
 2       164              audi     gas  ...               24          30  13950
 1         ?     mercedes-benz     gas  ...               14          16  45400
 2        94        volkswagen     gas  ...               27          34   8495
 2        94        volkswagen     gas  ...               26          32   9995
 0       115             mazda     gas  ...               26          32   8495

[30 rows x 25 columns]

In [ ]:
df

The salesman says the cars he sells typically have a fuel efficiency of about 35 miles per gallon on the highway. You want to verify his claim but can only test 10 cars. Using your sample of 10, test his claim and report your results.

In [ ]:
### YOUR WORK HERE

Imagine that you now have the capacity to test 100 cars on the lot. Using the same random state of `30`, take a sample of 100 cars. Run a t-test to verify the salesman's claim with your new larger sample. Do you reach the same conclusion as you did with the sample size of 10?

In [ ]:
### YOUR WORK HERE

Why might these two t-tests using the same dataset lead to different conclusions about the salesman's claim?

## Practice 2-Sample T-tests

Two Sample t-tests determine whether or not two sample means are statistically different from each other. 

This portion of your assignment requires you to determine which issues have "statistically significant" differences between political parties in this [1980s congressional voting data](https://archive.ics.uci.edu/ml/datasets/Congressional+Voting+Records).

### 1) Load the data

The data consists of 435 instances (one for each congressperson), a class (democrat or republican), and 16 binary attributes (yes or no for voting for or against certain issues). Be aware - there are missing values!

- Read the dataset in from UCI, you'll need to provide a list of column headers
- Encode "yes" votes as 1 and "no" votes as 0. (You can use `df.replace()` to swap out these values)
- Use dataframe filtering to split the dataframe into two new dataframes based on party. Hold all republicans in one dataframe and all democrats in the other. These will be our two different "samples."

In [88]:
# imports
from scipy.stats import ttest_ind, ttest_ind_from_stats, ttest_rel

In [57]:
#get onto our colab machine
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data

--2020-07-23 05:17:50--  https://archive.ics.uci.edu/ml/machine-learning-databases/voting-records/house-votes-84.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 18171 (18K) [application/x-httpd-php]
Saving to: ‘house-votes-84.data’

house-votes-84.data 100%[===================>]  17.75K  --.-KB/s    in 0.07s

2020-07-23 05:17:50 (271 KB/s) - ‘house-votes-84.data’ saved [18171/18171]

In [71]:
#make into a dataframe
column_headers = ['Class Name','handicapped-infants','water-project-cost-sharing',
                               'adoption-of-the-budget-resolution','physician-fee-freeze',
                               'el-salvador-aid','religious-groups-in-schools','anti-satellite-test-ban',
                               'aid-to-nicaraguan-contras','mx-missile','immigration','synfuels-corporation-cutback',
                               'education-spending','superfund-right-to-sue','crime','duty-free-exports',
                               'export-administration-act-south-africa']

df = pd.read_csv('house-votes-84.data', header = None,
                    names = column_headers, 
                    na_values=' ?',
                    )
df.head()

   Class Name  ... export-administration-act-south-africa
0  republican  ...                                      y
1  republican  ...                                      ?
2    democrat  ...                                      n
3    democrat  ...                                      y
4    democrat  ...                                      y

[5 rows x 17 columns]

In [72]:
#recode votes as numeric
df = df.replace({'y':1, 'n':0})
df.head()

   Class Name  ... export-administration-act-south-africa
0  republican  ...                                      1
1  republican  ...                                      ?
2    democrat  ...                                      0
3    democrat  ...                                      1
4    democrat  ...                                      1

[5 rows x 17 columns]

In [89]:
# No. from each party
df['Class Name'].value_counts()

democrat      267
republican    168
Name: Class Name, dtype: int64

In [77]:
#how did democrats vote
dem = df[df['Class Name']=='democrat']
dem.head()

  Class Name  ... export-administration-act-south-africa
2   democrat  ...                                      0
3   democrat  ...                                      1
4   democrat  ...                                      1
5   democrat  ...                                      1
6   democrat  ...                                      1

[5 rows x 17 columns]

In [78]:
#how did republicans vote
rep = df[df['Class Name']=='republican']
rep.head()

    Class Name  ... export-administration-act-south-africa
0   republican  ...                                      1
1   republican  ...                                      ?
7   republican  ...                                      1
8   republican  ...                                      1
10  republican  ...                                      0

[5 rows x 17 columns]

### 2) Perform two sample T-tests on different issues and report the results.

- Find an issue that democrats support more than republicans with p < 0.01 (significant at the 99% level).
- Find an issue that republicans support more than democrats with p < 0.01 (significant at the 99% level).
- Find an issue where the difference between republicans and democrats has p > 0.1 (Not significant at the 90% level - i.e. there may not be much of a difference the two sample means)

Please for each test that you run state your null and alternative hypothesis and then write a conclusion reflecting on the null and alternative hypothesis.

Remember, that two-sample t-tests will only tell us if the two groups are *different* from one another. We'll have to look at their sample means directly or use the sign on the t-statistic to know which of the two sample means is larger.

## Stretch Goals:

### 1) Use functions and some iterator (for loop, .apply(), list comprehension, etc.) to perform two sample t-tests on every issue in the dataset in an automated fashion.

In [ ]:
### YOUR WORK HERE



### 2) Work on Performing a T-test without using Scipy in order to get "under the hood" and learn more thoroughly about this topic.
### Start with a 1-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://blog.minitab.com/hs-fs/hubfs/Imported_Blog_Media/701f9c0efa98a38fb397f3c3ec459b66.png?width=247&height=172&name=701f9c0efa98a38fb397f3c3ec459b66.png) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

### Be sure to check your work using Scipy!

In [ ]:
### YOUR WORK HERE

### 3) Then try a 2-sample t-test
 - Establish the conditions for your test 
 - [Calculate the T Statistic](https://lh3.googleusercontent.com/proxy/rJJ5ZOL9ZDvKOOeBihXoZDgfk7uv1YsRzSQ1Tc10RX-r2HrRpRLVqlE9CWX23csYQXcTniFwlBg3H-qR8MKJPBGnjwndqlhDX3JxoDE5Yg) (You'll need to omit NaN values from your sample).
 - Translate that t-statistic into a P-value. You can use a [table](https://www.google.com/search?q=t+statistic+table) or the [University of Iowa Applet](https://homepage.divms.uiowa.edu/~mbognar/applets/t.html)

 ### Be sure to check your work using Scipy!

In [ ]:
### YOUR WORK HERE